USE [master]
GO
/****** Object:  Database [Quan_Ly_Cam_Do]    Script Date: 6/10/2017 5:40:37 AM ******/
CREATE DATABASE [Quan_Ly_Cam_Do]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quan_Ly_Cam_Do', FILENAME = N'D:\Database\Quan_Ly_Cam_Do.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Quan_Ly_Cam_Do_log', FILENAME = N'D:\Database\Quan_Ly_Cam_Do_log.ldf' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quan_Ly_Cam_Do].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quan_Ly_Cam_Do]
GO
/****** Object:  UserDefinedFunction [dbo].[Chuoi_Thang_Ngay]    Script Date: 6/10/2017 5:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Chuoi_Thang_Ngay] ( @NgayBatDau DATETIME, @NgayKetThuc DATETIME )
RETURNS nvarchar(250)
AS
BEGIN
		DECLARE @NgayCuoiThangBD INT , --Ngay cuoi thang cua ngay bat dau
				@NgayCuoiThangKT INT, --Ngay cuoi thang cua ngay ket thuc
				@GiaTriTraVe VARCHAR( 100 )
				-- Xac dinh ngay cuoi thang cua 2 thanh phan
		SET @NgayCuoiThangBD = CASE WHEN Month( @NgayBatDau ) in ( 1,3,5,7,8,10,12 ) THEN 31
									WHEN Month( @NgayBatDau ) in ( 4,6,9,11 ) THEN 30
								Else 
									CASE WHEN Year( @NgayBatDau ) % 4 = 0 THEN 29 Else 28 End
								End
		Set @NgayCuoiThangKT = Case WHEN Month( @NgayKetThuc ) in ( 1,3,5,7,8,10,12 ) THEN 31
									WHEN Month( @NgayKetThuc ) in ( 4,6,9,11 ) THEN 30
								Else 
									Case WHEN Year( @NgayKetThuc ) % 4 = 0 THEN 29 Else 28 End
								End
		-- Neu ngay cua ngay bat dau la ngay cuoi thang
		If Day( @NgayBatDau ) = @NgayCuoiThangBD 
		Begin
				-- Neu ngay cua ngay ket thuc la ngay cuoi thang
			If Day( @NgayKetThuc ) = @NgayCuoiThangKT
				Set @GiaTriTraVe = LTrim ( Datediff ( m,@NgayBatDau,@NgayKetThuc ) ) + N' tháng'
				-- Neu ngay cua ngay ket thuc ko phai ngay cuoi thang
			Else
				Set @GiaTriTraVe = LTrim ( Datediff ( m,@NgayBatDau,@NgayKetThuc ) - 1 ) + N' tháng ' + LTrim ( day ( @NgayKetThuc ) ) + N' ngày'
		End
		-- Neu ngay cua ngay bat dau ko phai ngay cuoi thang
		Else
		Begin
				-- Neu ngay cua ngay ket thuc la ngay cuoi thang
			If Day ( @NgayKetThuc ) = @NgayCuoiThangKT
				Set @GiaTriTraVe = LTrim ( Datediff ( m,@NgayBatDau,@NgayKetThuc ) ) + N' tháng ' + LTrim ( @NgayCuoiThangBD - day ( @NgayBatDau ) ) + N' ngày'
				-- Neu ngay cua ngay ket thuc ko phai ngay cuoi thang
			Else
				-- Neu ngay cua ngay ket thuc = ngay cua ngay bat dau
				If Day ( @NgayKetThuc ) = Day ( @NgayBatDau )
					Set @GiaTriTraVe = LTrim ( Datediff ( m,@NgayBatDau,@NgayKetThuc ) ) + N' tháng' 
				-- Neu ngay cua ngay ket thuc > ngay cua ngay bat dau
				If Day ( @NgayKetThuc ) > Day ( @NgayBatDau )
				BEGIN
						IF (Datediff ( m,@NgayBatDau,@NgayKetThuc )) = 0
							Set @GiaTriTraVe = LTrim ( Day ( @NgayKetThuc ) - Day ( @NgayBatDau )) + N' ngày'
						ELSE
							IF YEAR(@NgayKetThuc)> YEAR(@NgayBatDau)
								BEGIN
									IF(Datediff ( m,@NgayBatDau,@NgayKetThuc )% 12) = 0
										BEGIN
											Set @GiaTriTraVe = LTrim ( Datediff ( m,@NgayBatDau,@NgayKetThuc ) % 12 ) + N' năm ' + LTrim ( Day ( @NgayKetThuc ) - Day ( @NgayBatDau ) ) + N' ngày'
										END
									ELSE
										BEGIN
											Set @GiaTriTraVe = LTrim ( Datediff ( m,@NgayBatDau,@NgayKetThuc ) / 12 ) + N' năm '+ LTrim ( Datediff ( m,@NgayBatDau,@NgayKetThuc ) % 12 ) + N' tháng ' + LTrim ( Day ( @NgayKetThuc ) - Day ( @NgayBatDau ) ) + N' ngày'
										END
									
								END
							ELSE
								Set @GiaTriTraVe = LTrim ( Datediff ( m,@NgayBatDau,@NgayKetThuc ) ) + N' tháng ' + LTrim ( Day ( @NgayKetThuc ) - Day ( @NgayBatDau ) ) + N' ngày'
						
				END				
				
				-- Neu ngay cua ngay ket thuc < ngay cua ngay bat dau
			If Day ( @NgayKetThuc ) < Day ( @NgayBatDau )
					-- Luu y: gia tri tra ve truong hop nay mang tinh 
					Set @GiaTriTraVe = LTrim ( Datediff ( m,@NgayBatDau,@NgayKetThuc ) - 1 ) + N' tháng ' + LTrim ( @NgayCuoiThangBD - Day ( @NgayBatDau ) + Day ( @NgayKetThuc ) ) + N' ngày'
		End
		RETURN ( @GiaTriTraVe )
END

GO
/****** Object:  UserDefinedFunction [dbo].[Lay_Ngay]    Script Date: 6/10/2017 5:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Lay_Ngay]
(
	@NgayBatDau   DATETIME,
	@NgayKetThuc  DATETIME
)
RETURNS MONEY
AS
BEGIN
	DECLARE @GiaTriTraVe_Nam    MONEY,
	        @GiaTriTraVe_Thang  MONEY,
	        @GiaTriTraVe_Ngay   MONEY
	
	SET @GiaTriTraVe_Nam = 0
	SET @GiaTriTraVe_Thang = 0
	SET @GiaTriTraVe_Ngay = 0
	
	SELECT @GiaTriTraVe_Ngay = ltn.Ngay
	FROM   dbo.Lay_Thang_Ngay (@NgayBatDau, @NgayKetThuc) ltn 
	
	
	RETURN @GiaTriTraVe_Ngay
END

GO
/****** Object:  UserDefinedFunction [dbo].[Lay_Thang]    Script Date: 6/10/2017 5:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Lay_Thang]
(
	@NgayBatDau   DATETIME,
	@NgayKetThuc  DATETIME
)
RETURNS MONEY
AS
BEGIN
	DECLARE @GiaTriTraVe_Nam    MONEY,
	        @GiaTriTraVe_Thang  MONEY,
	        @GiaTriTraVe_Ngay   MONEY
	
	SET @GiaTriTraVe_Nam = 0
	SET @GiaTriTraVe_Thang = 0
	SET @GiaTriTraVe_Ngay = 0
	
	SELECT @GiaTriTraVe_Thang = (ltn.Thang + (ltn.Nam * 12))
	FROM   dbo.Lay_Thang_Ngay (@NgayBatDau, @NgayKetThuc) ltn 
	
	
	RETURN @GiaTriTraVe_Thang
END

GO
/****** Object:  UserDefinedFunction [dbo].[Lay_Thang_Ngay]    Script Date: 6/10/2017 5:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Lay_Thang_Ngay]
(
	@NgayBatDau   DATETIME,
	@NgayKetThuc  DATETIME
)
RETURNS @TB_Temp TABLE (Ngay MONEY NULL, Thang MONEY NULL, Nam MONEY NULL)
AS
BEGIN
	DECLARE @NgayCuoiThangBD    INT,	--Ngay cuoi thang cua ngay bat dau
	        @NgayCuoiThangKT    INT,	--Ngay cuoi thang cua ngay ket thuc
	        @GiaTriTraVe_Nam    MONEY,
	        @GiaTriTraVe_Thang  MONEY,
	        @GiaTriTraVe_Ngay   MONEY
	
	SET @GiaTriTraVe_Nam = 0
	SET @GiaTriTraVe_Thang = 0
	SET @GiaTriTraVe_Ngay = 0
	-- Xac dinh ngay cuoi thang cua 2 thanh phan
	SET @NgayCuoiThangBD = CASE 
	                            WHEN MONTH(@NgayBatDau) IN (1, 3, 5, 7, 8, 10, 12) THEN 
	                                 31
	                            WHEN MONTH(@NgayBatDau) IN (4, 6, 9, 11) THEN 30
	                            ELSE CASE 
	                                      WHEN YEAR(@NgayBatDau) % 4 = 0 THEN 29
	                                      ELSE 28
	                                 END
	                       END
	
	SET @NgayCuoiThangKT = CASE 
	                            WHEN MONTH(@NgayKetThuc) IN (1, 3, 5, 7, 8, 10, 12) THEN 
	                                 31
	                            WHEN MONTH(@NgayKetThuc) IN (4, 6, 9, 11) THEN 
	                                 30
	                            ELSE CASE 
	                                      WHEN YEAR(@NgayKetThuc) % 4 = 0 THEN 
	                                           29
	                                      ELSE 28
	                                 END
	                       END
	-- Neu ngay cua ngay bat dau la ngay cuoi thang
	IF DAY(@NgayBatDau) = @NgayCuoiThangBD
	BEGIN
	    -- Neu ngay cua ngay ket thuc la ngay cuoi thang
	    IF DAY(@NgayKetThuc) = @NgayCuoiThangKT
	    BEGIN
	        --Set @GiaTriTraVe = LTrim ( Datediff ( m,@NgayBatDau,@NgayKetThuc ) ) + N' tháng'
	        SET @GiaTriTraVe_Thang = CAST(LTRIM(DATEDIFF(m, @NgayBatDau, @NgayKetThuc)) AS MONEY)
	    END-- Neu ngay cua ngay ket thuc ko phai ngay cuoi thang
	    ELSE
	    BEGIN
	        --	        SET @GiaTriTraVe = LTRIM(DATEDIFF(m, @NgayBatDau, @NgayKetThuc) - 1)
	        --	            + N' tháng ' + LTRIM(DAY(@NgayKetThuc)) + N' ngày'
	        
	        SET @GiaTriTraVe_Thang = CAST(LTRIM(DATEDIFF(m, @NgayBatDau, @NgayKetThuc) - 1) AS MONEY)
	        SET @GiaTriTraVe_Ngay = CAST(LTRIM(DAY(@NgayKetThuc)) AS MONEY)
	    END
	END-- Neu ngay cua ngay bat dau ko phai ngay cuoi thang
	ELSE
	BEGIN
	    -- Neu ngay cua ngay ket thuc la ngay cuoi thang
	    IF DAY(@NgayKetThuc) = @NgayCuoiThangKT
	    BEGIN
	        --	        SET @GiaTriTraVe = LTRIM(DATEDIFF(m, @NgayBatDau, @NgayKetThuc)) +
	        --	            N' tháng ' + LTRIM(@NgayCuoiThangBD - DAY(@NgayBatDau)) +
	        --	            N' ngày'
	        
	        SET @GiaTriTraVe_Thang = CAST(LTRIM(DATEDIFF(m, @NgayBatDau, @NgayKetThuc)) AS MONEY)
	        SET @GiaTriTraVe_Ngay = CAST(LTRIM(@NgayCuoiThangBD - DAY(@NgayBatDau)) AS MONEY)
	    END-- Neu ngay cua ngay ket thuc ko phai ngay cuoi thang
	    ELSE
	    -- Neu ngay cua ngay ket thuc = ngay cua ngay bat dau
	    IF DAY(@NgayKetThuc) = DAY(@NgayBatDau)
	       --	        SET @GiaTriTraVe = LTRIM(DATEDIFF(m, @NgayBatDau, @NgayKetThuc)) +
	       --	            N' tháng'
	    BEGIN
	        SET @GiaTriTraVe_Thang = CAST(LTRIM(DATEDIFF(m, @NgayBatDau, @NgayKetThuc)) AS MONEY)
	    END
	    
	    -- Neu ngay cua ngay ket thuc > ngay cua ngay bat dau
	    IF DAY(@NgayKetThuc) > DAY(@NgayBatDau)
	    BEGIN
	        IF (DATEDIFF(m, @NgayBatDau, @NgayKetThuc)) = 0
	           --	            SET @GiaTriTraVe = LTRIM(DAY(@NgayKetThuc) - DAY(@NgayBatDau)) +
	           --	                N' ngày'
	        BEGIN
	            SET @GiaTriTraVe_Ngay = CAST(LTRIM(DAY(@NgayKetThuc) - DAY(@NgayBatDau)) AS MONEY)
	        END
	        ELSE
	        IF YEAR(@NgayKetThuc) > YEAR(@NgayBatDau)
	        BEGIN
	            IF (DATEDIFF(m, @NgayBatDau, @NgayKetThuc)% 12) = 0
	            BEGIN
	                --	                SET @GiaTriTraVe = LTRIM(DATEDIFF(m, @NgayBatDau, @NgayKetThuc) % 12)
	                --	                    + N' nam ' + LTRIM(DAY(@NgayKetThuc) - DAY(@NgayBatDau))
	                --	                    + N' ngày'
	                
	                SET @GiaTriTraVe_Nam = CAST(
	                        LTRIM(DATEDIFF(m, @NgayBatDau, @NgayKetThuc) % 12) 
	                        AS MONEY
	                    )
	                
	                SET @GiaTriTraVe_Ngay = CAST(LTRIM(DAY(@NgayKetThuc) - DAY(@NgayBatDau)) AS MONEY)
	            END
	            ELSE
	            BEGIN
	                --	                SET @GiaTriTraVe = LTRIM(DATEDIFF(m, @NgayBatDau, @NgayKetThuc) / 12)
	                --	                    + N' nam ' + LTRIM(DATEDIFF(m, @NgayBatDau, @NgayKetThuc) % 12)
	                --	                    + N' tháng ' + LTRIM(DAY(@NgayKetThuc) - DAY(@NgayBatDau))
	                --	                    + N' ngày'
	                
	                SET @GiaTriTraVe_Nam = CAST(
	                        LTRIM(DATEDIFF(m, @NgayBatDau, @NgayKetThuc) / 12) 
	                        AS MONEY
	                    )
	                
	                SET @GiaTriTraVe_Thang = CAST(
	                        LTRIM(DATEDIFF(m, @NgayBatDau, @NgayKetThuc) % 12) 
	                        AS MONEY
	                    )
	                
	                SET @GiaTriTraVe_Ngay = CAST(LTRIM(DAY(@NgayKetThuc) - DAY(@NgayBatDau)) AS MONEY)
	            END
	        END
	        ELSE
	            --	            SET @GiaTriTraVe = LTRIM(DATEDIFF(m, @NgayBatDau, @NgayKetThuc))
	            --	                + N' tháng ' + LTRIM(DAY(@NgayKetThuc) - DAY(@NgayBatDau)) +
	            --	                N' ngày'
	        BEGIN
	            SET @GiaTriTraVe_Thang = CAST(LTRIM(DATEDIFF(m, @NgayBatDau, @NgayKetThuc)) AS MONEY)
	            SET @GiaTriTraVe_Ngay = CAST(LTRIM(DAY(@NgayKetThuc) - DAY(@NgayBatDau)) AS MONEY)
	        END
	    END 
	    
	    -- Neu ngay cua ngay ket thuc < ngay cua ngay bat dau
	    IF DAY(@NgayKetThuc) < DAY(@NgayBatDau)
	    BEGIN
	        SET @GiaTriTraVe_Thang = CAST(LTRIM(DATEDIFF(m, @NgayBatDau, @NgayKetThuc) - 1) AS MONEY)
	        SET @GiaTriTraVe_Ngay = CAST(
	                LTRIM(@NgayCuoiThangBD - DAY(@NgayBatDau) + DAY(@NgayKetThuc)) 
	                AS MONEY
	            )
	    END-- Luu y: gia tri tra ve truong hop nay mang tinh
	       --	        SET @GiaTriTraVe = LTRIM(DATEDIFF(m, @NgayBatDau, @NgayKetThuc) - 1)
	       --	            + N' tháng ' + LTRIM(@NgayCuoiThangBD - DAY(@NgayBatDau) + DAY(@NgayKetThuc))
	       --	            + N' ngày'
	END
	
	
	INSERT INTO @TB_Temp
	  (
	    Ngay,
	    Thang,
	    Nam
	  )
	VALUES
	  (
	    @GiaTriTraVe_Ngay,
	    @GiaTriTraVe_Thang,
	    @GiaTriTraVe_Nam
	  )
	
	RETURN
END

GO
/****** Object:  Table [dbo].[CHUNG_TU]    Script Date: 6/10/2017 5:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUNG_TU](
	[Ma_Chung_Tu] [nvarchar](250) NOT NULL,
	[So] [nvarchar](250) NULL,
	[Lien] [nvarchar](250) NULL,
	[Ngay] [datetime] NULL,
	[Ten_Khach_Hang] [nvarchar](250) NULL,
	[So_CMND] [nvarchar](250) NULL,
	[Ngay_Cap_CMND] [nvarchar](250) NULL,
	[Noi_Cap] [nvarchar](250) NULL,
	[Dia_Chi] [nvarchar](250) NULL,
	[So_Dien_Thoai] [nvarchar](250) NULL,
	[Chu_Tiem] [nvarchar](250) NULL,
	[So_Tien_Cam] [money] NULL,
	[Tu_Ngay] [nvarchar](50) NULL,
	[Den_Ngay] [nvarchar](50) NULL,
	[Lai_Suat_Ngay] [money] NULL,
	[Lai_Suat_Thang] [money] NULL,
	[Ghi_Chu] [nvarchar](250) NULL,
	[Tien_Lai_Cu] [money] NULL,
	[Chung_Tu_Goc] [nvarchar](250) NULL,
	[Da_Lam_Lai_Giay] [bit] NULL,
	[Da_Chuoc] [bit] NULL,
	[Mat_Giay] [bit] NULL,
	[Sap_Xep] [bigint] NULL,
 CONSTRAINT [PK_CHUNG_TU] PRIMARY KEY CLUSTERED 
(
	[Ma_Chung_Tu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUNG_TU_CHI_TIET]    Script Date: 6/10/2017 5:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUNG_TU_CHI_TIET](
	[Ma_Chi_Tiet] [uniqueidentifier] NOT NULL,
	[Ma_Chung_Tu] [nvarchar](250) NULL,
	[Ten_Tai_San] [nvarchar](250) NULL,
	[Loai_Vang] [nvarchar](250) NULL,
	[Trong_Luong] [nvarchar](250) NULL,
	[Chuan_Do] [nvarchar](250) NULL,
	[Gia_Tri_Vat_Cam] [money] NULL,
	[Sap_Xep] [bigint] NULL,
 CONSTRAINT [PK_CHUNG_TU_CHI_TIET] PRIMARY KEY CLUSTERED 
(
	[Ma_Chi_Tiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUNG_TU_THU_CHI]    Script Date: 6/10/2017 5:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUNG_TU_THU_CHI](
	[Ma] [nvarchar](250) NOT NULL,
	[Ngay] [datetime] NOT NULL,
	[Ngay_Ghi_So] [datetime] NULL,
	[Ma_Chung_Tu_Cam_Do] [nvarchar](250) NULL,
	[So_Tien_Thu] [money] NULL,
	[So_Tien_Chi] [money] NULL,
	[Tien_Lai_Cu] [money] NULL,
	[Loai] [nvarchar](50) NULL,
	[Phan_Loai] [nvarchar](50) NULL,
	[Ten_Loai] [nvarchar](250) NULL,
	[Ghi_Chu] [nvarchar](250) NULL,
	[Sap_Xep] [bigint] NULL,
 CONSTRAINT [PK_CHUNG_TU_THU_CHI] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SO_CHUNG_TU]    Script Date: 6/10/2017 5:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_CHUNG_TU](
	[Ma_Chung_Tu] [nvarchar](250) NOT NULL,
	[So] [nvarchar](250) NULL,
	[Ngay] [datetime] NULL,
	[Ten_Khach_Hang] [nvarchar](250) NULL,
	[So_CMND] [nvarchar](250) NULL,
	[Ngay_Cap_CMND] [nvarchar](250) NULL,
	[Noi_Cap] [nvarchar](250) NULL,
	[Dia_Chi] [nvarchar](250) NULL,
	[So_Dien_Thoai] [nvarchar](250) NULL,
	[Chu_Tiem] [nvarchar](250) NULL,
	[So_Tien_Cam] [money] NULL,
	[Tu_Ngay] [nvarchar](50) NULL,
	[Den_Ngay] [nvarchar](50) NULL,
	[Lai_Suat_Ngay] [money] NULL,
	[Lai_Suat_Thang] [money] NULL,
	[Ghi_Chu] [nvarchar](250) NULL,
	[Tien_Lai_Cu] [money] NULL,
	[Chung_Tu_Goc] [nvarchar](250) NULL,
	[Da_Lam_Lai_Giay] [bit] NULL,
	[Da_Chuoc] [bit] NULL,
	[Mat_Giay] [bit] NULL,
	[Sap_Xep] [bigint] NULL,
 CONSTRAINT [PK_SO_CHUNG_TU] PRIMARY KEY CLUSTERED 
(
	[Ma_Chung_Tu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SO_CHUNG_TU_CHI_TIET]    Script Date: 6/10/2017 5:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_CHUNG_TU_CHI_TIET](
	[Ma_Chi_Tiet] [uniqueidentifier] NOT NULL,
	[Ma_Chung_Tu] [nvarchar](250) NULL,
	[Ten_Tai_San] [nvarchar](250) NULL,
	[Loai_Vang] [nvarchar](250) NULL,
	[Trong_Luong] [nvarchar](250) NULL,
	[Chuan_Do] [nvarchar](250) NULL,
	[Gia_Tri_Vat_Cam] [money] NULL,
	[Sap_Xep] [bigint] NULL,
 CONSTRAINT [PK_SO_CHUNG_TU_CHI_TIET] PRIMARY KEY CLUSTERED 
(
	[Ma_Chi_Tiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SO_CHUNG_TU_THU_CHI]    Script Date: 6/10/2017 5:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_CHUNG_TU_THU_CHI](
	[Ma] [nvarchar](250) NOT NULL,
	[Ngay] [datetime] NOT NULL,
	[Ngay_Ghi_So] [datetime] NULL,
	[Ma_Chung_Tu_Cam_Do] [nvarchar](250) NULL,
	[So_Tien_Thu] [money] NULL,
	[So_Tien_Chi] [money] NULL,
	[Tien_Lai_Cu] [money] NULL,
	[Loai] [nvarchar](50) NULL,
	[Phan_Loai] [nvarchar](50) NULL,
	[Ten_Loai] [nvarchar](250) NULL,
	[Ghi_Chu] [nvarchar](250) NULL,
	[Sap_Xep] [bigint] NULL,
 CONSTRAINT [PK_SO_CHUNG_TU_THU_CHI] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHUNG_TU] ([Ma_Chung_Tu], [So], [Lien], [Ngay], [Ten_Khach_Hang], [So_CMND], [Ngay_Cap_CMND], [Noi_Cap], [Dia_Chi], [So_Dien_Thoai], [Chu_Tiem], [So_Tien_Cam], [Tu_Ngay], [Den_Ngay], [Lai_Suat_Ngay], [Lai_Suat_Thang], [Ghi_Chu], [Tien_Lai_Cu], [Chung_Tu_Goc], [Da_Lam_Lai_Giay], [Da_Chuoc], [Mat_Giay], [Sap_Xep]) VALUES (N'CD1', N'6651', NULL, CAST(0x0000A0810145C800 AS DateTime), N'Lê Văn Quân', N'300375742', N'', N'', N'Nhơn Thạnh Trung', N'', N'', 2500000.0000, N'01/07/2012', N'', 0.0000, 3.0000, N'Long', NULL, NULL, NULL, 0, 0, 0)
INSERT [dbo].[CHUNG_TU] ([Ma_Chung_Tu], [So], [Lien], [Ngay], [Ten_Khach_Hang], [So_CMND], [Ngay_Cap_CMND], [Noi_Cap], [Dia_Chi], [So_Dien_Thoai], [Chu_Tiem], [So_Tien_Cam], [Tu_Ngay], [Den_Ngay], [Lai_Suat_Ngay], [Lai_Suat_Thang], [Ghi_Chu], [Tien_Lai_Cu], [Chung_Tu_Goc], [Da_Lam_Lai_Giay], [Da_Chuoc], [Mat_Giay], [Sap_Xep]) VALUES (N'CD10', N'6661', NULL, CAST(0x0000A08201662528 AS DateTime), N'Nguyễn Hùng Cường', N'300864441', N'', N'', N'Quê Mỹ Thạnh', N'', N'Tiệm Cầm Đồ Kim Phụng', 1500000.0000, N'02/07/2012', N'', 0.0000, 3.0000, N'Nguyễn Thị Tuyền', NULL, NULL, NULL, 0, 0, 0)
INSERT [dbo].[CHUNG_TU] ([Ma_Chung_Tu], [So], [Lien], [Ngay], [Ten_Khach_Hang], [So_CMND], [Ngay_Cap_CMND], [Noi_Cap], [Dia_Chi], [So_Dien_Thoai], [Chu_Tiem], [So_Tien_Cam], [Tu_Ngay], [Den_Ngay], [Lai_Suat_Ngay], [Lai_Suat_Thang], [Ghi_Chu], [Tien_Lai_Cu], [Chung_Tu_Goc], [Da_Lam_Lai_Giay], [Da_Chuoc], [Mat_Giay], [Sap_Xep]) VALUES (N'CD11', N'6662', NULL, CAST(0x0000A0820166F5C0 AS DateTime), N'Lê Thị Kim Thu', N'301328067', N'', N'', N'ấp 2 Quê Mỹ Thạnh', N'', N'Tiệm Cầm Đồ Kim Phụng', 500000.0000, N'02/07/2012', N'', 0.0000, 3.0000, N'mẹ Nguyễn Thị Thang lấy', NULL, NULL, NULL, 0, 0, 0)
INSERT [dbo].[CHUNG_TU_CHI_TIET] ([Ma_Chi_Tiet], [Ma_Chung_Tu], [Ten_Tai_San], [Loai_Vang], [Trong_Luong], [Chuan_Do], [Gia_Tri_Vat_Cam], [Sap_Xep]) VALUES (N'9315282a-4586-4e76-ae9c-05888c532d87', N'CD64', N'dây', N'18k', N'1 chỉ 31', N'', 1000000.0000, 0)
INSERT [dbo].[CHUNG_TU_CHI_TIET] ([Ma_Chi_Tiet], [Ma_Chung_Tu], [Ten_Tai_San], [Loai_Vang], [Trong_Luong], [Chuan_Do], [Gia_Tri_Vat_Cam], [Sap_Xep]) VALUES (N'd6aff80a-00d1-489f-8663-05bd4e6b83ba', N'CD40', N'Nhẫn Kim Hoa', N'24k', N'1 chỉ', N'', 1500000.0000, 0)
INSERT [dbo].[CHUNG_TU_CHI_TIET] ([Ma_Chi_Tiet], [Ma_Chung_Tu], [Ten_Tai_San], [Loai_Vang], [Trong_Luong], [Chuan_Do], [Gia_Tri_Vat_Cam], [Sap_Xep]) VALUES (N'bf139b18-7c4b-429f-955e-0cc1f7398337', N'CD5', N'dây oval ct', N'18k', N'2 chỉ 15', N'', 2500000.0000, 0)
INSERT [dbo].[CHUNG_TU_THU_CHI] ([Ma], [Ngay], [Ngay_Ghi_So], [Ma_Chung_Tu_Cam_Do], [So_Tien_Thu], [So_Tien_Chi], [Tien_Lai_Cu], [Loai], [Phan_Loai], [Ten_Loai], [Ghi_Chu], [Sap_Xep]) VALUES (N'PT1', CAST(0x0000A30D01788353 AS DateTime), CAST(0x0000A0BE01587540 AS DateTime), N'CD88', 78000.0000, 0.0000, NULL, N'Thu', N'Thu', N'Thu tiền khách trả tiền lời', N'', 0)
INSERT [dbo].[CHUNG_TU_THU_CHI] ([Ma], [Ngay], [Ngay_Ghi_So], [Ma_Chung_Tu_Cam_Do], [So_Tien_Thu], [So_Tien_Chi], [Tien_Lai_Cu], [Loai], [Phan_Loai], [Ten_Loai], [Ghi_Chu], [Sap_Xep]) VALUES (N'PT2', CAST(0x0000A30D01788874 AS DateTime), CAST(0x0000A0FB01587540 AS DateTime), N'CD88', 151000.0000, 0.0000, NULL, N'Thu', N'Thu', N'Thu tiền khách trả tiền lời', N'', 0)
INSERT [dbo].[CHUNG_TU_THU_CHI] ([Ma], [Ngay], [Ngay_Ghi_So], [Ma_Chung_Tu_Cam_Do], [So_Tien_Thu], [So_Tien_Chi], [Tien_Lai_Cu], [Loai], [Phan_Loai], [Ten_Loai], [Ghi_Chu], [Sap_Xep]) VALUES (N'PT3', CAST(0x0000A30D0179669E AS DateTime), CAST(0x0000A11901587540 AS DateTime), N'CD88', 71000.0000, 0.0000, NULL, N'Thu', N'Thu', N'Thu tiền khách trả tiền lời', N'', 0)
ALTER TABLE [dbo].[CHUNG_TU_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_CHUNG_TU_CHI_TIET_CHUNG_TU] FOREIGN KEY([Ma_Chung_Tu])
REFERENCES [dbo].[CHUNG_TU] ([Ma_Chung_Tu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHUNG_TU_CHI_TIET] CHECK CONSTRAINT [FK_CHUNG_TU_CHI_TIET_CHUNG_TU]
GO
ALTER TABLE [dbo].[SO_CHUNG_TU_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_SO_CHUNG_TU_CHI_TIET_SO_CHUNG_TU] FOREIGN KEY([Ma_Chung_Tu])
REFERENCES [dbo].[SO_CHUNG_TU] ([Ma_Chung_Tu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SO_CHUNG_TU_CHI_TIET] CHECK CONSTRAINT [FK_SO_CHUNG_TU_CHI_TIET_SO_CHUNG_TU]
GO
/****** Object:  Statistic [_WA_Sys_00000002_3F466844]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_3F466844] ON [dbo].[CHUNG_TU]([So]) WITH STATS_STREAM = 0x0100000001000000000000000000000049D7E88B00000000B50A000000000000750A000000000000E7020000E7000000F40100000000000020D00000000000000700000046E158008EA700005B000000000000005B000000000000000000803F610B363C000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000036000000360000000100000010000000000000410000B64200000000000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000003A0800000000000001090000000000000909000000000000B001000000000000CF01000000000000EE010000000000000D020000000000002C020000000000004B020000000000006A020000000000008902000000000000A802000000000000C702000000000000E60200000000000005030000000000002403000000000000430300000000000062030000000000008103000000000000A003000000000000BF03000000000000DE03000000000000FD030000000000001C040000000000003B040000000000005A0400000000000079040000000000009804000000000000B704000000000000D604000000000000F50400000000000014050000000000003305000000000000520500000000000071050000000000009005000000000000AF05000000000000CE05000000000000ED050000000000000C060000000000002B060000000000004A0600000000000069060000000000008806000000000000A706000000000000C606000000000000E506000000000000040700000000000023070000000000004207000000000000610700000000000080070000000000009F07000000000000BE07000000000000DD07000000000000FC070000000000001B08000000000000300010000000803F000000000000803F04000001001F003600360035003100300010000000803F0000803F0000803F04000001001F003600360035003300300010000000803F0000803F0000803F04000001001F003600360035003500300010000000803F000000400000803F04000001001F003600360035003900300010000000803F000000000000803F04000001001F003600360036003000300010000000803F000000000000803F04000001001F003600360036003100300010000000803F0000803F0000803F04000001001F003600360036003300300010000000803F0000803F0000803F04000001001F003600360036003500300010000000803F0000803F0000803F04000001001F003600360036003700300010000000803F0000803F0000803F04000001001F003600360036003900300010000000803F000000000000803F04000001001F003600360037003000300010000000803F000000000000803F04000001001F003600360037003100300010000000803F0000803F0000803F04000001001F003600360037003300300010000000803F0000803F0000803F04000001001F003600360037003500300010000000803F0000803F0000803F04000001001F003600360037003700300010000000803F0000803F0000803F04000001001F003600360037003900300010000000803F000000000000803F04000001001F003600360038003000300010000000803F000000000000803F04000001001F003600360038003100300010000000803F0000803F0000803F04000001001F003600360038003300300010000000803F0000803F0000803F04000001001F003600360038003500300010000000803F0000803F0000803F04000001001F003600360038003700300010000000803F0000803F0000803F04000001001F003600360038003900300010000000803F000000000000803F04000001001F003600360039003000300010000000803F000000000000803F04000001001F003600360039003100300010000000803F0000803F0000803F04000001001F003600360039003300300010000000803F0000803F0000803F04000001001F003600360039003500300010000000803F0000803F0000803F04000001001F003600360039003700300010000000803F0000803F0000803F04000001001F003600360039003900300010000000803F000000000000803F04000001001F003600370030003000300010000000803F000000000000803F04000001001F003600370030003100300010000000803F0000803F0000803F04000001001F003600370030003300300010000000803F0000803F0000803F04000001001F003600370030003500300010000000803F0000803F0000803F04000001001F003600370030003700300010000000803F0000803F0000803F04000001001F003600370030003900300010000000803F000000000000803F04000001001F003600370031003000300010000000803F000000000000803F04000001001F003600370031003100300010000000803F0000803F0000803F04000001001F003600370031003300300010000000803F0000803F0000803F04000001001F003600370031003500300010000000803F0000803F0000803F04000001001F003600370031003700300010000000803F0000803F0000803F04000001001F003600370031003900300010000000803F000000000000803F04000001001F003600370032003000300010000000803F000000000000803F04000001001F003600370032003100300010000000803F0000803F0000803F04000001001F003600370032003300300010000000803F0000803F0000803F04000001001F003600370032003500300010000000803F0000803F0000803F04000001001F003600370032003700300010000000803F0000803F0000803F04000001001F003600370032003900300010000000803F000000000000803F04000001001F003600370033003000300010000000803F000000000000803F04000001001F003600370033003100300010000000803F0000803F0000803F04000001001F003600370033003300300010000000803F0000803F0000803F04000001001F003600370033003500300010000000803F0000803F0000803F04000001001F003600370033003700300010000000803F0000803F0000803F04000001001F003600370033003900300010000000803F000000000000803F04000001001F0036003700340030003000100000000040000000000000803F04000001001F003600370034003100FF01000000000000000E0000000E00000028000000280000000000000000000000150000003600360035003100390037003200380038003500390031003700300034003100310032003400330030001700000040000000004001000000C001010000C001020000810103000001010400008102010000C00105000081010600000101070000810208000040010A000081010B0000010107000040010C000081020D0000C0010F0000810110000001010500008102110000400113000081011400000101050000005B00000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_3F466844]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000004_3F466844] ON [dbo].[CHUNG_TU]([Ngay]) WITH STATS_STREAM = 0x010000000100000000000000000000006BB6DD6700000000510B000000000000110B0000000000003D0200003D0000000800170300000000000000000000000007000000EF24A60044A300005B000000000000005B000000000000000000803F410B343C000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000047000000470000000100000018000000000000410000B6420000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000B509000000000000380200000000000053020000000000006E020000000000008902000000000000A402000000000000BF02000000000000DA02000000000000F50200000000000010030000000000002B03000000000000460300000000000061030000000000007C030000000000009703000000000000B203000000000000CD03000000000000E80300000000000003040000000000001E04000000000000390400000000000054040000000000006F040000000000008A04000000000000A504000000000000C004000000000000DB04000000000000F60400000000000011050000000000002C05000000000000470500000000000062050000000000007D050000000000009805000000000000B305000000000000CE05000000000000E90500000000000004060000000000001F060000000000003A06000000000000550600000000000070060000000000008B06000000000000A606000000000000C106000000000000DC06000000000000F70600000000000012070000000000002D07000000000000480700000000000063070000000000007E070000000000009907000000000000B407000000000000CF07000000000000EA07000000000000050800000000000020080000000000003B08000000000000560800000000000071080000000000008C08000000000000A708000000000000C208000000000000DD08000000000000F80800000000000013090000000000002E09000000000000490900000000000064090000000000007F090000000000009A09000000000000100018000000803F000000000000803F00C8450181A00000040000100018000000803F000000000000803F74AD820181A00000040000100018000000803F000000000000803F908E850181A00000040000100018000000803F0000803F0000803F34DA860181A00000040000100018000000803F000000000000803FB4E9600182A00000040000100018000000803F000000000000803FD0BD610182A00000040000100018000000803F0000803F0000803F94DA620182A00000040000100018000000803F000000000000803F2825660182A00000040000100018000000803F0000803F0000803F5CA4670182A00000040000100018000000803F000000000000803F2409680183A00000040000100018000000803F000000000000803FE0D3680183A00000040000100018000000803F000000000000803F285E690183A00000040000100018000000803F000000000000803F0000000084A00000040000100018000000803F000000000000803F48BC450184A00000040000100018000000803F000000000000803F2C14460184A00000040000100018000000803F000000000000803FD4F2460184A00000040000100018000000803F000000000000803F205B470184A00000040000100018000000803F000000000000803FA420490185A00000040000100018000000803F000000000000803FC0A9490185A00000040000100018000000803F000000000000803F04EC4A0187A00000040000100018000000803F000000000000803FC06B4B0187A00000040000100018000000803F000000000000803F24AB4D0187A00000040000100018000000803F000000000000803FF0ED4D0187A00000040000100018000000803F000000000000803F24414E0188A00000040000100018000000803F000000000000803F14C94E0188A00000040000100018000000803F000000000000803F2877500188A00000040000100018000000803F000000000000803F9491510188A00000040000100018000000803F000000000000803F787F520189A00000040000100018000000803F000000000000803F10BA520189A00000040000100018000000803F000000000000803FCCCF530189A00000040000100018000000803F0000803F0000803FB07254018BA00000040000100018000000803F000000000000803F50B454018DA00000040000100018000000803F000000000000803FD40255018DA00000040000100018000000803F000000000000803F085655018FA00000040000100018000000803F000000000000803F885C56018FA00000040000100018000000803F000000000000803F50C156018FA00000040000100018000000803F000000000000803F245657018FA00000040000100018000000803F000000000000803F749C570190A00000040000100018000000803F000000000000803FF8EA570190A00000040000100018000000803F000000000000803F1474580190A00000040000100018000000803F000000000000803FFCB65A0191A00000040000100018000000803F000000000000803F0C105B0191A00000040000100018000000803F000000400000803FA0865F0193A00000040000100018000000803F000000000000803F74D05F0194A00000040000100018000000803F000000000000803F7C22600194A00000040000100018000000803F000000000000803F309B600194A00000040000100018000000803F000000000000803FC0FA610194A00000040000100018000000803F000000000000803FAC59620195A00000040000100018000000803F0000803F0000803F54CE630195A00000040000100018000000803F000000000000803F4C5D640195A00000040000100018000000803F000040400000803F74AC650197A00000040000100018000000803F000000000000803F74F7650198A00000040000100018000000803F000000000000803FD8BF660198A00000040000100018000000803F0000C0400000803FF47B52019AA00000040000100018000000803F000000000000803F74EC52019BA00000040000100018000000803F000000000000803F382853019BA00000040000100018000000803F000000000000803F64BF53019BA00000040000100018000000803F000000000000803F9CF053019BA00000040000100018000000803F0000803F0000803F708554019BA00000040000100018000000803F000000000000803FC0CB54019CA00000040000100018000000803F0000803F0000803F605855019CA00000040000100018000000803F000000000000803FBCCE55019CA00000040000100018000000803F000000000000803F784E56019DA00000040000100018000000803F000000000000803FE8B056019DA00000040000100018000000803F000000000000803F5CF156019DA00000040000100018000000803F000000000000803F384257019DA00000040000100018000000803F000000000000803F548057019DA00000040000100018000000803F000000400000803F407558019FA00000040000100018000000803F000000000000803FBA5B600114A30000040000100018000000803F000000000000803F4A75C3001FA30000040000100018000000803F000000000000803F5CADDA0036A30000040000
GO
/****** Object:  Statistic [_WA_Sys_00000005_3F466844]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000005_3F466844] ON [dbo].[CHUNG_TU]([Ten_Khach_Hang]) WITH STATS_STREAM = 0x01000000010000000000000000000000DF23F0EA000000002215000000000000E214000000000000E7020000E7000000F40100000000000020D000000000000007000000B6E158008EA700005B000000000000005B000000000000000000803F7BC7543C00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004B0000004B00000001000000100000008FF7E8410000B642000000008FF7E841000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000B9110000000000006E13000000000000761300000000000058020000000000008502000000000000BC02000000000000EB020000000000001E030000000000004F030000000000008A03000000000000BD03000000000000F0030000000000002D0400000000000062040000000000008F04000000000000C804000000000000050500000000000032050000000000005B050000000000008805000000000000B305000000000000EC050000000000001F0600000000000054060000000000008706000000000000BE06000000000000EB06000000000000140700000000000043070000000000006E070000000000009907000000000000C607000000000000F3070000000000002A0800000000000063080000000000009C08000000000000DB080000000000000C0900000000000049090000000000007C09000000000000AF09000000000000E2090000000000001D0A000000000000580A000000000000990A000000000000D80A000000000000190B000000000000580B000000000000910B000000000000C40B000000000000FB0B000000000000320C000000000000730C000000000000AE0C000000000000E70C0000000000001A0D000000000000510D000000000000840D000000000000B50D000000000000EC0D000000000000210E000000000000520E000000000000810E000000000000BA0E000000000000E90E000000000000160F000000000000450F000000000000760F000000000000AB0F000000000000DA0F000000000000171000000000000052100000000000008310000000000000C210000000000000F310000000000000261100000000000057110000000000008A110000000000003000100000004040000000000000803F04000001002D004200F9006900200054006800CB1E2000C1006E006800300010000000803F000000000000803F040000010037004200F9006900200054006800CB1E2000C1006E00680020004800D31E6E0067003000100000000040000000000000803F04000001002F004200F9006900200054006800CB1E20004C0075006E0067003000100000000040000000000000803F040000010033004200F9006900200054006800CB1E200050006800B001E31E6E006700300010000000803F000000000000803F040000010031004400B001A1016E0067002000560003016E0020004E006800CF1E300010000000803F0000803F0000803F04000001003B001001E0006F0020004300F4006E00670020004E006700CD1E63002000530061006E006700300010000000803F000000000000803F040000010033001001D71E200054006800CB1E20004B0069006D0020004B00BF1E7400300010000000803F000000000000803F0400000100330010016F00E0006E0020004800D31E6E006700200043006800E2007500300010000000803F000000000000803F04000001003D0010016F00E0006E002000560003016E0020004E006700CD1E63002000580075007900EA006E00300010000000803F000000000000803F040000010035004800D31E200054006800CB1E20004D00F91E2000510075007900EA006E00300010000000803F000000000000803F04000001002D004800D31E200054006800CB1E200054006800AF1E6D00300010000000803F000000000000803F040000010039004800D31E200054006800CB1E200054006800A31E6F0020005300B001A1016E006700300010000000803F000000000000803F04000001003D0048007500F31E6E006800200054006800CB1E20004200ED0063006800200054006800A31E6F00300010000000803F000000000000803F04000001002D004C00EA00200054006800E1006E00680020005300DF1E300010000000803F000000000000803F040000010029004C00EA00200054006800CB1E2000A41E6E00300010000000803F000000000000803F04000001002D004C00EA00200054006800CB1E20004300B0016E006700300010000000803F000000000000803F04000001002B004C00EA00200054006800CB1E200043006800E800300010000000803F000000000000803F040000010039004C00EA00200054006800CB1E20004800D31E6E00670020004E00680075006E006700300010000000803F000000000000803F040000010033004C00EA00200054006800CB1E20004B0069006D0020004800F20061003000100000000040000000000000803F040000010035004C00EA00200054006800CB1E20004B0069006D002000540068006F006100300010000000803F000000000000803F040000010033004C00EA00200054006800CB1E20004B0069006D002000540068007500300010000000803F000000000000803F040000010037004C00EA00200054006800CB1E20004E006700CD1E6300200058006F00E0006E00300010000000803F000000000000803F04000001002D004C00EA00200054006800CB1E200054006800E71E7900300010000000803F000000000000803F040000010029004C00EA00200054006800CB1E2000DA007400300010000000803F000000000000803F04000001002F004C00EA002000560003016E0020004300B001DD1E6E006700300010000000803F0000803F0000803F04000001002B004C00EA002000560003016E0020004D00E3006F00300010000000803F000000000000803F04000001002B004C00EA002000560003016E0020004E006800E3003000100000004040000000000000803F04000001002D004C00EA002000560003016E00200051007500E2006E00300010000000803F000000000000803F04000001002D004C00EA002000560003016E00200054006800DB1E6900300010000000803F000000000000803F040000010037004E00670075007900C51E6E0020004300F4006E0067002000440069016E006700300010000000803F000000000000803F040000010039004E00670075007900C51E6E0020004800F9006E00670020004300B001DD1E6E006700300010000000803F000000000000803F040000010039004E00670075007900C51E6E0020005400680061006E006800200054007500A51E6E00300010000000803F000000000000803F04000001003F004E00670075007900C51E6E00200054006800CB1E2000C1006E0068002000540075007900BF1E7400300010000000803F000000000000803F040000010031004E00670075007900C51E6E00200054006800CB1E20004200E900300010000000803F000000000000803F04000001003D004E00670075007900C51E6E00200054006800CB1E20004300A91E6D00200054006900EA006E00300010000000803F000000000000803F040000010033004E00670075007900C51E6E00200054006800CB1E20004300F3006E00300010000000803F000000000000803F040000010033004E00670075007900C51E6E00200054006800CB1E20001001A11E6D00300010000000803F000000000000803F040000010033004E00670075007900C51E6E00200054006800CB1E20004700A51E6D00300010000000803F000000000000803F04000001003B004E00670075007900C51E6E00200054006800CB1E20004B0069006D002000430068006900300010000000803F000000000000803F04000001003B004E00670075007900C51E6E00200054006800CB1E20004B0069006D0020004800EA006E00300010000000803F000000000000803F040000010041004E00670075007900C51E6E00200054006800CB1E20004B0069006D00200050006800B001E31E6E006700300010000000803F000000000000803F04000001003F004E00670075007900C51E6E00200054006800CB1E20004B0069006D002000510075007900EA006E00300010000000803F000000000000803F040000010041004E00670075007900C51E6E00200054006800CB1E20004E006700CD1E63002000440075007900EA006E00300010000000803F000000000000803F04000001003F004E00670075007900C51E6E00200054006800CB1E20004E006700CD1E6300200048006900BF1E7500300010000000803F000000000000803F040000010039004E00670075007900C51E6E00200054006800CB1E20004E00670075007900C71E7400300010000000803F000000000000803F040000010033004E00670075007900C51E6E00200054006800CB1E20005400ED006D00300010000000803F000000000000803F040000010037004E00670075007900C51E6E00200054006800CB1E2000540075007900C11E6E00300010000000803F000000000000803F040000010037004E00670075007900C51E6E00200054006800CB1E2000540075007900BF1E74003000100000000040000000000000803F040000010041004E00670075007900C51E6E00200054006800CB1E20005400680061006E006800200058007500E2006E00300010000000803F000000000000803F04000001003B004E00670075007900C51E6E00200054006800CB1E200054006800750020004E0067006100300010000000803F000000000000803F040000010039004E00670075007900C51E6E00200054006800CB1E200054006800B001DF1E6E006700300010000000803F000000000000803F040000010033004E00670075007900C51E6E002000560003016E00200043006800ED00300010000000803F000000000000803F040000010037004E00670075007900C51E6E002000560003016E0020004700690061006E006700300010000000803F000000000000803F040000010033004E00670075007900C51E6E002000560003016E0020004E006800CF1E300010000000803F000000000000803F040000010031004E00670075007900C51E6E002000560003016E00200052006900300010000000803F000000000000803F040000010037004E00670075007900C51E6E002000560003016E0020005400B001DF1E6E006700300010000000803F000000000000803F0400000100350050006800A11E6D0020004300F4006E00670020005400720061006E006800300010000000803F000000000000803F0400000100310050006800A11E6D0020004E006700CD1E6300200042006F006E00300010000000803F000000000000803F04000001002F0050006800A11E6D00200054006800CB1E20004800F2006100300010000000803F000000000000803F0400000100390050006800A11E6D00200054006800CB1E20004800D31E6E00670020004700A51E6D00300010000000803F000000000000803F04000001002F0050006800A11E6D00200054006800CB1E200051007500FD00300010000000803F000000000000803F04000001002D0050006800A11E6D00200054006800CB1E2000DA007400300010000000A040000000000000803F04000001002F0050006800A11E6D002000560003016E0020001001F11E6300300010000000803F000000000000803F040000010031005000680061006E00200048006F00E0006E00670020004C00FD00300010000000803F000000000000803F0400000100350054007200A71E6E0020004D0069006E0068002000540072006900BF1E7400300010000000803F000000000000803F04000001002F0054007200A71E6E00200054006800CB1E20004300FA006300300010000000803F000000000000803F04000001003D0054007200A71E6E00200054006800CB1E20005400680061006E006800200054006800A31E6F00300010000000803F000000000000803F04000001003B0054007200A71E6E00200054006800CB1E20005400680075002000540072006F006E006700300010000000803F000000000000803F0400000100310054007200A71E6E00200054006800CB1E200054006800E91E63003000100000000040000000000000803F04000001003F0054007200A71E6E00200054006800CB1E200054007200FA006300200050006800B001A1016E006700300010000000803F000000000000803F0400000100310054007200A71E6E002000560003016E00200054006800DB1E69003000100000000040000000000000803F0400000100330054007200CB1E6E00680020004E006700CD1E6300200054006800A101300010000000803F000000000000803F0400000100310054007200CB1E6E006800200054006800CB1E20004200C11E6E00300010000000803F000000000000803F0400000100330054007200B001A1016E0067002000560003016E002000500068006900300010000000803F000000000000803F04000001002F005600F500200054006800CB1E2000540075007900BF1E7400FF01000000000000000E0000000E00000028000000280000000000000000000000910000004200F9006900200054006800CB1E2000C1006E00680050006800B001E31E6E00670010016F00E0006E002000560003016E0020004E006700CD1E63002000580075007900EA006E004C00EA00200054006800CB1E20004300B0016E0067004B0069006D002000540068007500560003016E0020004E006800E3004E00670075007900C51E6E0020004800F9006E00670020004300B001DD1E6E00670054006800CB1E20004700A51E6D004E006700CD1E6300200048006900BF1E750054006800750020004E0067006100560003016E0020005400B001DF1E6E00670050006800A11E6D002000560003016E0020001001F11E630054007200A71E6E0020004D0069006E0068002000540072006900BF1E7400560003016E00200054006800DB1E6900150000004000000000C008000000810308000001060B00008113110000C003240000C00427000081042B000001072F00000107360000C0073D0000810A440000C0044E00008103520000810955000001075E00000109650000810C6E000040057A0000810A7F00000108890000005B00000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_3F466844]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000006_3F466844] ON [dbo].[CHUNG_TU]([So_CMND]) WITH STATS_STREAM = 0x010000000100000000000000000000005FC13C90000000008A100000000000004A10000000000000E7020000E7000000F40100000000000020D000000000000007000000A6E158008EA700005B000000000000005B000000000000000000803FC9675D3C000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000047000000470000000100000010000000FDD28F410000B64200000000FDD28F41000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000950D000000000000D60E000000000000DE0E000000000000380200000000000061020000000000008802000000000000B102000000000000DA0200000000000003030000000000002C0300000000000055030000000000007E03000000000000A703000000000000D003000000000000F90300000000000022040000000000004B0400000000000074040000000000009D04000000000000C604000000000000EF04000000000000180500000000000041050000000000006A050000000000009305000000000000BC05000000000000E5050000000000000E06000000000000370600000000000060060000000000008906000000000000B206000000000000DB0600000000000004070000000000002D0700000000000056070000000000007F07000000000000A807000000000000D107000000000000FA0700000000000023080000000000004C0800000000000075080000000000009E08000000000000C708000000000000F008000000000000190900000000000042090000000000006B090000000000009409000000000000BD09000000000000E6090000000000000F0A000000000000380A000000000000610A0000000000008A0A000000000000B30A000000000000DC0A000000000000050B0000000000002E0B000000000000570B000000000000800B000000000000A90B000000000000D20B000000000000FB0B000000000000240C0000000000004D0C000000000000760C0000000000009F0C000000000000C80C000000000000F10C0000000000001A0D000000000000430D0000000000006C0D000000000000300010000000803F000000000000803F04000001002900330030003000300030003000350039003300300010000000803F000000000000803F04000001002700330030003000320038003100330034003000100000000040000000000000803F04000001002900330030003000330034003500380037003000300010000000803F000000000000803F04000001002900330030003000330034003500390032003900300010000000803F000000000000803F04000001002900330030003000330034003900350038003000300010000000803F000000000000803F04000001002900330030003000330034003900350039003800300010000000803F000000000000803F04000001002900330030003000330035003100390037003700300010000000803F000000000000803F04000001002900330030003000330035003100390039003200300010000000803F000000000000803F04000001002900330030003000330035003500390035003000300010000000C040000000000000803F04000001002900330030003000330035003600300039003300300010000000803F000000000000803F040000010029003300300030003300360034003800300038003000100000004040000000000000803F04000001002900330030003000330037003500370034003200300010000000803F000000000000803F04000001002900330030003000330038003200380039003400300010000000803F000000000000803F04000001002900330030003000330038003700300034003700300010000000803F000000000000803F04000001002900330030003000340036003000320035003700300010000000803F000000000000803F04000001002900330030003000340037003000340035003600300010000000803F000000000000803F04000001002900330030003000340037003000340036003200300010000000803F000000000000803F04000001002900330030003000340037003100390032003000300010000000803F000000000000803F04000001002900330030003000340037003100390032003900300010000000803F000000000000803F04000001002900330030003000340037003400340037003100300010000000803F000000000000803F04000001002900330030003000350030003300370032003100300010000000803F000000000000803F04000001002900330030003000350032003900330037003500300010000000803F000000000000803F04000001002900330030003000350037003500300037003300300010000000803F000000000000803F040000010029003300300030003600360036003900320035003000100000000040000000000000803F04000001002900330030003000360037003100320039003900300010000000803F000000000000803F04000001002900330030003000360038003600360033003700300010000000803F000000000000803F04000001002900330030003000360038003600360038003700300010000000803F000000000000803F04000001002900330030003000370030003000370034003200300010000000803F000000000000803F04000001002900330030003000370031003000310037003100300010000000803F000000000000803F04000001002900330030003000370039003400360033003100300010000000803F000000000000803F04000001002900330030003000380031003400320039003700300010000000803F000000000000803F04000001002900330030003000380031003400390035003000300010000000803F0000803F0000803F04000001002900330030003000380033003900320031003800300010000000803F000000000000803F04000001002900330030003000380035003300350034003700300010000000803F000000000000803F04000001002900330030003000380035003300360033003900300010000000803F000000000000803F04000001002900330030003000380035003300360034003200300010000000803F000000000000803F04000001002900330030003000380035003300370030003300300010000000803F000000000000803F04000001002900330030003000380035003300370038003900300010000000803F000000000000803F04000001002900330030003000380036003400340034003100300010000000803F000000000000803F04000001002900330030003000390035003400310034003700300010000000803F000000000000803F04000001002900330030003000390035003400320036003900300010000000803F000000000000803F040000010029003300300030003900350035003300300037003000100000000040000000000000803F04000001002900330030003000390037003200340039003300300010000000803F000000000000803F04000001002900330030003000390037003400320032003200300010000000803F000000000000803F04000001002900330030003100300030003700300034003600300010000000803F000000000000803F04000001002900330030003100300032003700300039003000300010000000803F000000000000803F04000001002900330030003100300034003700350039003500300010000000803F000000000000803F04000001002900330030003100300037003200390032003200300010000000803F000000000000803F040000010029003300300031003000390038003000300031003000100000000040000000000000803F040000010029003300300031003100320033003100330038003000100000000040000000000000803F040000010029003300300031003100320039003200380030003000100000000040000000000000803F040000010029003300300031003100340033003200340038003000100000004040000000000000803F04000001002900330030003100310034003700370037003600300010000000803F000000000000803F04000001002900330030003100310038003200300035003100300010000000803F000000000000803F04000001002900330030003100310038003200310034003600300010000000803F000000000000803F04000001002900330030003100310038003200330030003600300010000000803F000000000000803F04000001002900330030003100310038003600380039003600300010000000803F000000000000803F04000001002900330030003100310038003600390036003100300010000000803F000000000000803F04000001002900330030003100320033003000310036003800300010000000803F0000803F0000803F04000001002900330030003100320037003500330037003900300010000000803F000000000000803F04000001002900330030003100330030003100340030003300300010000000803F000000000000803F04000001002900330030003100330031003000340031003800300010000000803F000000000000803F04000001002900330030003100330031003200380032003000300010000000803F000000000000803F04000001002900330030003100330031003200380038003900300010000000803F000000000000803F04000001002900330030003100330032003700300032003700300010000000803F000000000000803F04000001002900330030003100330032003800300036003700300010000000803F000000000000803F040000010029003300300031003300350034003000390037003000100000004040000000000000803F04000001002900330030003100330035003400320032003100300010000000803F0000803F0000803F04000001002900330030003100330039003700380034003400300010000000803F000000000000803F04000001002900330030003100340034003200330036003900300010000000803F000000000000803F04000001002900330030003100340034003200330037003000FF01000000000000000E0000000E000000280000002800000000000000000000005200000033003000300030003000300035003900330033003500310039003700370036003000390033003800320038003900340034003700310039003200390036003700310032003900390038003100340032003900370035003300370030003300390037003200340039003300310030003900380030003000310031003400330032003400380038003600380039003600330031003000340031003800350034003200320031001700000040000000004002000000C0010200008106030000C001090000C0010A000081040B000001040F00000105130000810618000081061E0000C001240000810525000001052A000001062F000040013500008106360000C0013C000081053D000001054200004001470000810548000001054D0000005B00000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_3F466844]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000007_3F466844] ON [dbo].[CHUNG_TU]([Ngay_Cap_CMND]) WITH STATS_STREAM = 0x01000000010000000000000000000000F9343EE6000000002D02000000000000ED01000000000000E7020000E7000000F40100000000000020D00000B407000007000000A4E158008EA700005B000000000000005B00000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000410B343E0000B64200000000410B343E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000004A000000000000007900000000000000810000000000000010000000000000002300000000000000100010000000B442000000000000803F040000300010000000803F000000000000803F040000010027006E006700E000790020006300A51E7000FF01000000000000000E000000010000002800000028000000000000000000000000000000010000000E00000000005B00000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_3F466844]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000008_3F466844] ON [dbo].[CHUNG_TU]([Noi_Cap]) WITH STATS_STREAM = 0x0100000001000000000000000000000000347A78000000002B02000000000000EB01000000000000E7020000E7000000F40100000000000020D00000B40700000700000093E158008EA700005B000000000000005B00000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000D9891D3E0000B64200000000D9891D3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000480000000000000077000000000000007F0000000000000010000000000000002300000000000000100010000000B442000000000000803F040000300010000000803F000000000000803F040000010025006E00A101690020006300A51E7000FF01000000000000000E000000010000002800000028000000000000000000000000000000010000000E00000000005B00000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000009_3F466844]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000009_3F466844] ON [dbo].[CHUNG_TU]([Dia_Chi]) WITH STATS_STREAM = 0x01000000010000000000000000000000FCB4828200000000BB050000000000007B05000000000000E7020000E7000000F40100000000000020D00000010000000700000086E158008EA700005B000000000000005B00000000000000000000002549923D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000E0000000E00000001000000100000004665E4410000B642000000004665E4410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000004A0300000000000007040000000000000F0400000000000070000000000000008300000000000000BC00000000000000EB0000000000000024010000000000005D010000000000008C01000000000000BB01000000000000F40100000000000031020000000000005A02000000000000AB02000000000000E2020000000000001B030000000000001000100000008040000000000000803F0400003000100000000040000000000000803F04000001003900A51E700020003100200051007500EA0020004D00F91E200054006800A11E6E006800300010000000803F000000000000803F04000001002F00A41E70002000320020004C00A11E630020005400A51E6E003000100000000040000000000000803F04000001003900A51E700020003200200051007500EA0020004D00F91E200054006800A11E6E006800300010000000803F000000000000803F04000001003900A41E700020003300200051007500EA0020004D00F91E200054006800A11E6E0068003000100000000040000000000000803F04000001002F00A41E70002000340020004C00A11E630020005400A51E6E003000100000006041000000000000803F04000001002F00A41E70002000350020004C00A11E630020005400A51E6E003000100000002041000000000000803F04000001003900A41E700020003500200051007500EA0020004D00F91E200054006800A11E6E006800300010000000803F000000000000803F04000001003D004200EC006E006800200041006E0020002D0020004200EC006E00680020004C00E3006E0067003000100000004040000000000000803F040000010029004200EC006E00680020004C00E3006E006700300010000000803F000000000000803F040000010051004200EC006E00680020005400720075006E00670020002D0020004E006800A1016E00200054006800A11E6E00680020005400720075006E0067003000100000002042000000000000803F040000010037004E006800A1016E00200054006800A11E6E00680020005400720075006E006700300010000000803F000000000000803F0400000100390050006800B001DD1E6E0067002000350020002D0020005400E2006E00200041006E003000100000001041000000000000803F04000001002F0051007500EA0020004D00F91E200054006800A11E6E006800FF01000000000000000E000000070000002800000028000000000000000000000033000000A51E700020003200200051007500EA0020004D00F91E200054006800A11E6E006800350020004C00A11E630020005400A51E6E004200EC006E00680020004C00E3006E0067004E006800A1016E00200054006800A11E6E00680020005400720075006E006700090000004100000000C003000000810E03000040021100008207130000020C05000081091A00008610230000010C050000005B00000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000A_3F466844]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_0000000A_3F466844] ON [dbo].[CHUNG_TU]([So_Dien_Thoai]) WITH STATS_STREAM = 0x010000000100000000000000000000006B923195000000002302000000000000E301000000000000E7024C00E7000000F40100000000000020D0000000006041070000007AE158008EA700005B000000000000005B00000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000007108873D0000B642000000007108873D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000040000000000000006F00000000000000770000000000000010000000000000002300000000000000100010000000B442000000000000803F040000300010000000803F000000000000803F04000001001D00730011017400FF01000000000000000E000000010000002800000028000000000000000000000000000000010000000E00000000005B00000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000014_3F466844]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000014_3F466844] ON [dbo].[CHUNG_TU]([Da_Lam_Lai_Giay]) WITH STATS_STREAM = 0x010000000100000000000000000000001973D5E100000000D401000000000000940100000000000068022BED680000000100010000000000000000000033002007000000EF24A60044A300005B000000000000005B0000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000011000000410BB43C0000B6420000B242410BB43C000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000380000000000000010000000000000002400000000000000100011000000803F000000000000803F00040000100011000000803F000000000000803F01040000
GO
/****** Object:  Statistic [PK_CHUNG_TU]    Script Date: 6/10/2017 5:40:38 AM ******/
UPDATE STATISTICS [dbo].[CHUNG_TU]([PK_CHUNG_TU]) WITH STATS_STREAM = 0x0100000001000000000000000000000003D037DB00000000E809000000000000A809000000000000E7030000E7000000F40100000000000020D0000001000000070000002A92A50044A300005B000000000000005B000000000000000000803F410B343C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000320000003200000001000000100000009BABF9400000B642000000009BABF9400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000008C0700000000000044080000000000009001000000000000AD01000000000000CC01000000000000EB010000000000000A020000000000002902000000000000480200000000000065020000000000008402000000000000A302000000000000C202000000000000E10200000000000000030000000000001D030000000000003C030000000000005B030000000000007A030000000000009903000000000000B803000000000000D503000000000000F40300000000000013040000000000003204000000000000510400000000000070040000000000008D04000000000000AC04000000000000CB04000000000000EA0400000000000009050000000000002805000000000000450500000000000064050000000000008305000000000000A205000000000000C105000000000000E005000000000000FD050000000000001C060000000000003B060000000000005A0600000000000079060000000000009806000000000000B506000000000000D406000000000000F3060000000000001207000000000000310700000000000050070000000000006D07000000000000300010000000803F000000000000803F04000001001D00430044003100300010000000803F0000803F0000803F04000001001F004300440031003100300010000000803F0000803F0000803F04000001001F004300440031003300300010000000803F0000803F0000803F04000001001F004300440031003500300010000000803F0000803F0000803F04000001001F004300440031003700300010000000803F0000803F0000803F04000001001F004300440031003900300010000000803F000000000000803F04000001001D00430044003200300010000000803F0000803F0000803F04000001001F004300440032003100300010000000803F0000803F0000803F04000001001F004300440032003300300010000000803F0000803F0000803F04000001001F004300440032003500300010000000803F0000803F0000803F04000001001F004300440032003700300010000000803F0000803F0000803F04000001001F004300440032003900300010000000803F000000000000803F04000001001D00430044003300300010000000803F0000803F0000803F04000001001F004300440033003100300010000000803F0000803F0000803F04000001001F004300440033003300300010000000803F0000803F0000803F04000001001F004300440033003500300010000000803F0000803F0000803F04000001001F004300440033003700300010000000803F0000803F0000803F04000001001F004300440033003900300010000000803F000000000000803F04000001001D00430044003400300010000000803F0000803F0000803F04000001001F004300440034003100300010000000803F0000803F0000803F04000001001F004300440034003300300010000000803F0000803F0000803F04000001001F004300440034003500300010000000803F0000803F0000803F04000001001F004300440034003700300010000000803F0000803F0000803F04000001001F004300440034003900300010000000803F000000000000803F04000001001D00430044003500300010000000803F0000803F0000803F04000001001F004300440035003100300010000000803F0000803F0000803F04000001001F004300440035003300300010000000803F0000803F0000803F04000001001F004300440035003500300010000000803F0000803F0000803F04000001001F004300440035003700300010000000803F0000803F0000803F04000001001F004300440035003900300010000000803F000000000000803F04000001001D00430044003600300010000000803F0000803F0000803F04000001001F004300440036003100300010000000803F0000803F0000803F04000001001F004300440036003300300010000000803F0000803F0000803F04000001001F004300440036003500300010000000803F0000803F0000803F04000001001F004300440036003700300010000000803F0000803F0000803F04000001001F004300440036003900300010000000803F000000000000803F04000001001D00430044003700300010000000803F0000803F0000803F04000001001F004300440037003100300010000000803F0000803F0000803F04000001001F004300440037003300300010000000803F0000803F0000803F04000001001F004300440037003500300010000000803F0000803F0000803F04000001001F004300440037003700300010000000803F0000803F0000803F04000001001F004300440037003900300010000000803F000000000000803F04000001001D00430044003800300010000000803F0000803F0000803F04000001001F004300440038003100300010000000803F0000803F0000803F04000001001F004300440038003300300010000000803F0000803F0000803F04000001001F004300440038003500300010000000803F0000803F0000803F04000001001F004300440038003700300010000000803F0000803F0000803F04000001001F004300440038003900300010000000803F000000000000803F04000001001D00430044003900300010000000803F0000803F0000803F04000001001F004300440039003100FF01000000000000000E0000000E00000028000000280000000000000000000000150000004300440031003600320031003800330033003400350035003100370036003300390037003500380030001400000040000000004002000000C1010200000101030000C001040000810105000001010600008102070000C10109000001010A0000C0010B000081010C000001010D0000C0010E000081010F0000010110000081021100004001130000810114000001010D000000, ROWCOUNT = 91, PAGECOUNT = 3
GO
/****** Object:  Statistic [_WA_Sys_00000002_1273C1CD]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_1273C1CD] ON [dbo].[CHUNG_TU_CHI_TIET]([Ma_Chung_Tu]) WITH STATS_STREAM = 0x010000000100000000000000000000002C0C1C50000000000302000000000000C301000000000000E7020000E7000000F40100000000000020D00000FD05000007000000EF5D5F0130A2000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C0400000803F000000000000C04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000025000000000000005F000000000000000800000000000000300010000000803F000000000000803F04000001001D004E004B003100FF0100000000000000010000000100000028000000280000000000000000000000030000004E004B003100020000004000000000010300000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_1273C1CD]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000003_1273C1CD] ON [dbo].[CHUNG_TU_CHI_TIET]([Ten_Tai_San]) WITH STATS_STREAM = 0x010000000100000000000000000000005F114E7B000000000604000000000000C603000000000000E7025000E7000000F40100000000000020D000003F000080070000005AF55E0134A200000600000000000000060000000000000000000000ABAA2A3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000060000000600000001000000100000005555E5410000C040000000005555E5410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000006601000000000000620200000000000030000000000000005F000000000000009E00000000000000CD00000000000000FA000000000000003901000000000000300010000000803F000000000000803F04000001002F00610073006400660061007300640066007300610064006600300010000000803F000000000000803F04000001003F00660064006B006A00670068002000640073006B0066006A00670020006B00730064006A0066006700300010000000803F000000000000803F04000001002F006600670068006A006600670068006A006700660068006A00300010000000803F000000000000803F04000001002D006A006600670068006A006600670068006A0066006700300010000000803F000000000000803F04000001003F0073006400660067007300640066006700730064006600670073006400660067007300640066006700300010000000803F000000000000803F04000001002D007400EA006E0020007400E000690020007300A31E6E00FF010000000000000006000000060000002800000028000000000000000000000055000000610073006400660061007300640066007300610064006600660064006B006A00670068002000640073006B0066006A00670020006B00730064006A0066006700670068006A006600670068006A006700660068006A006A006600670068006A006600670068006A0066006700730064006600670073006400660067007300640066006700730064006600670073006400660067007400EA006E0020007400E000690020007300A31E6E00080000004000000000810C000000C0010C000081130D0000010B200000810B2B00008114360000010B4A000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_1273C1CD]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000004_1273C1CD] ON [dbo].[CHUNG_TU_CHI_TIET]([Loai_Vang]) WITH STATS_STREAM = 0x01000000010000000000000000000000ACEF0D03000000000D03000000000000CD02000000000000E7020000E7000000F40100000000000020D0000000000000070000005AF55E0134A20000060000000000000006000000000000000000803FABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000010000000555545410000C0400000000055554541000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000DD0000000000000069010000000000002800000000000000470000000000000066000000000000008F00000000000000B600000000000000300010000000803F000000000000803F04000001001F006100730064006600300010000000803F000000000000803F04000001001F006600670068006A00300010000000803F0000803F0000803F040000010029006C006F00A11E690020007600E0006E006700300010000000803F000000000000803F0400000100270073006400660067006400730066006700300010000000803F000000000000803F0400000100270073006400660067007300640066006700FF01000000000000000600000006000000280000002800000000000000000000001D00000061007300640066006600670068006A006A00660067006A006C006F00A11E690020007600E0006E0067007300640066006700640073006600670008000000400000000081040000008104040000810408000081090C000040041500008104190000010415000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_1273C1CD]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000005_1273C1CD] ON [dbo].[CHUNG_TU_CHI_TIET]([Trong_Luong]) WITH STATS_STREAM = 0x0100000001000000000000000000000061C70C9F00000000EE02000000000000AE02000000000000E7022BEDE7000000F40100000000000020D0000000000000070000005AF55E0134A200000600000000000000060000000000000000000000CDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000010000000000020410000C0400000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000CF000000000000004A010000000000002800000000000000470000000000000066000000000000008300000000000000A200000000000000300010000000803F000000000000803F04000001001F006100730064006600300010000000803F000000000000803F04000001001F006600670068006A00300010000000803F000000000000803F04000001001D00660067006A003000100000000040000000000000803F04000001001F007300640066006700300010000000803F000000000000803F04000001002D0074007200CD1E6E00670020006C00B001E31E6E006700FF01000000000000000600000005000000280000002800000000000000000000001700000061007300640066006600670068006A00730064006600670074007200CD1E6E00670020006C00B001E31E6E0067000700000040000000008104000000C002040000810206000001010700008204080000010B0C000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_1273C1CD]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000006_1273C1CD] ON [dbo].[CHUNG_TU_CHI_TIET]([Chuan_Do]) WITH STATS_STREAM = 0x0100000001000000000000000000000035A02C2600000000D5020000000000009502000000000000E7020000E7000000F40100000000000020D00000E7000000070000005AF55E0134A200000600000000000000060000000000000000000000CDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000010000000000010410000C0400000000000001041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000C9000000000000003101000000000000280000000000000047000000000000006E000000000000008D00000000000000AA00000000000000300010000000803F000000000000803F04000001001F006100730064006600300010000000803F000000000000803F04000001002700630068007500A91E6E0020001101D91E3000100000000040000000000000803F04000001001F006600670068006A00300010000000803F000000000000803F04000001001D00730064006600300010000000803F000000000000803F04000001001F007300640066006700FF0100000000000000060000000500000028000000280000000000000000000000100000006100730064006600630068007500A91E6E0020001101D91E6600670068006A000600000040000000008104000000810804000082040C0000410301000001010D000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_1273C1CD]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000007_1273C1CD] ON [dbo].[CHUNG_TU_CHI_TIET]([Gia_Tri_Vat_Cam]) WITH STATS_STREAM = 0x010000000100000000000000000000001A8280BC00000000BF010000000000007F010000000000003C0200813C00000008001304000000000000000001000001070000005AF55E0134A2000006000000000000000600000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000018000000000000410000C040000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000023000000000000000800000000000000100018000000C040000000000000803F0000000000000000040000
GO
/****** Object:  Statistic [_WA_Sys_00000008_1273C1CD]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000008_1273C1CD] ON [dbo].[CHUNG_TU_CHI_TIET]([Sap_Xep]) WITH STATS_STREAM = 0x0100000001000000000000000000000007ABF33F00000000BF010000000000007F010000000000007F0200817F00000008001300000000000000000001000001070000005AF55E0134A2000006000000000000000600000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000018000000000000410000C040000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000023000000000000000800000000000000100018000000C040000000000000803F0000000000000000040000
GO
/****** Object:  Statistic [PK_CHUNG_TU_CHI_TIET]    Script Date: 6/10/2017 5:40:38 AM ******/
UPDATE STATISTICS [dbo].[CHUNG_TU_CHI_TIET]([PK_CHUNG_TU_CHI_TIET]) WITH STATS_STREAM = 0x01000000010000000000000000000000ACB67B92000000009E020000000000005E02000000000000240300002400000010000000000000000000000000000000070000003EF55E0134A200000600000000000000060000000000000000000000ABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000060000000100000020000000000080410000C040000000000000804100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000002010000000000003000000000000000530000000000000076000000000000009900000000000000BC00000000000000DF00000000000000100020000000803F000000000000803FD2A9505DDE3B6949A7E511D88CBFF9E4040000100020000000803F000000000000803F6EAEEDEA04D26B478D592051CD662290040000100020000000803F000000000000803FAF31997FC3EF80449FC3491D5F7A00C5040000100020000000803F000000000000803F1AB0666E9974FD4CAE6C52B7CEC9B242040000100020000000803F000000000000803F51A98DC0E9C978449DBD8B72FB66C62E040000100020000000803F000000000000803F0B2C00AFA7E3E641BE42AD35683590D7040000, ROWCOUNT = 96, PAGECOUNT = 2
GO
/****** Object:  Statistic [_WA_Sys_00000002_33D4B598]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_33D4B598] ON [dbo].[CHUNG_TU_THU_CHI]([Ngay]) WITH STATS_STREAM = 0x01000000010000000000000000000000ACB805E7000000004B020000000000000B020000000000003D030C023D000000080017030000000000000000FFFFFFFF07000000241C18011AA300000500000000000000050000000000000000000000CDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000018000000000000410000A0400000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000AF00000000000000280000000000000043000000000000005E0000000000000079000000000000009400000000000000100018000000803F000000000000803F538378010DA30000040000100018000000803F000000000000803F748878010DA30000040000100018000000803F000000000000803F9E6679010DA30000040000100018000000803F000000000000803F5D2F7B010DA30000040000100018000000803F000000000000803F571318011AA30000040000
GO
/****** Object:  Statistic [_WA_Sys_00000003_33D4B598]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000003_33D4B598] ON [dbo].[CHUNG_TU_THU_CHI]([Ngay_Ghi_So]) WITH STATS_STREAM = 0x01000000010000000000000000000000A8453F57000000000502000000000000C5010000000000003D020A023D0000000800170300000000000000000100000007000000042618011AA30000050000000000000005000000000000000000803FCDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000018000000000000410000A04000000000000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000006900000000000000180000000000000033000000000000004E00000000000000100018000000803F000000000000803F40755801BEA00000040000100018000000803F000000400000803F4075580137A10000040000100018000000803F000000000000803F571318011AA30000040000
GO
/****** Object:  Statistic [_WA_Sys_00000004_33D4B598]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000004_33D4B598] ON [dbo].[CHUNG_TU_THU_CHI]([Ma_Chung_Tu_Cam_Do]) WITH STATS_STREAM = 0x01000000010000000000000000000000CC8A87D3000000000702000000000000C701000000000000E7020A02E7000000F40100000000000020D000000100000007000000412D16011AA3000004000000000000000400000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000410000804000000000000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000002700000000000000630000000000000008000000000000003000100000008040000000000000803F04000001001F004300440038003800FF0100000000000000040000000100000028000000280000000000000000000000040000004300440038003800020000004000000000040400000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_33D4B598]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000005_33D4B598] ON [dbo].[CHUNG_TU_THU_CHI]([So_Tien_Thu]) WITH STATS_STREAM = 0x01000000010000000000000000000000D8A7A864000000004B020000000000000B020000000000003C0200003C0000000800130400000000000000000000000007000000092618011AA300000500000000000000050000000000000000000000CDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000018000000000000410000A0400000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000AF00000000000000280000000000000043000000000000005E0000000000000079000000000000009400000000000000100018000000803F000000000000803F8090202900000000040000100018000000803F000000000000803F80BD512A00000000040000100018000000803F000000000000803F00DB7D2E00000000040000100018000000803F000000000000803F80C5005A00000000040000100018000000803F000000000000803F0041DE0607000000040000
GO
/****** Object:  Statistic [_WA_Sys_00000006_33D4B598]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000006_33D4B598] ON [dbo].[CHUNG_TU_THU_CHI]([So_Tien_Chi]) WITH STATS_STREAM = 0x01000000010000000000000000000000D5E527F100000000BF010000000000007F010000000000003C0200003C0000000800130400000000000000000000000007000000092618011AA3000005000000000000000500000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000018000000000000410000A040000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000023000000000000000800000000000000100018000000A040000000000000803F0000000000000000040000
GO
/****** Object:  Statistic [_WA_Sys_00000007_33D4B598]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000007_33D4B598] ON [dbo].[CHUNG_TU_THU_CHI]([Tien_Lai_Cu]) WITH STATS_STREAM = 0x010000000100000000000000000000008AFF655400000000BF010000000000007F010000000000003C0200003C00000008001304000000000000000000000000070000000D2618011AA3000005000000000000000500000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000018000000CDCCCC3F0000A04000008040CDCCCC3F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000023000000000000000800000000000000100018000000803F000000000000803F0000000000000000040000
GO
/****** Object:  Statistic [_WA_Sys_00000008_33D4B598]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000008_33D4B598] ON [dbo].[CHUNG_TU_THU_CHI]([Loai]) WITH STATS_STREAM = 0x01000000010000000000000000000000429E202C000000000302000000000000C301000000000000E7020000E7000000640000000000000020D0000000000000070000000D2618011AA3000005000000000000000500000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C0400000A040000000000000C04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000025000000000000005F000000000000000800000000000000300010000000A040000000000000803F04000001001D00540068007500FF010000000000000005000000010000002800000028000000000000000000000003000000540068007500020000004000000000050300000000
GO
/****** Object:  Statistic [_WA_Sys_00000009_33D4B598]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_00000009_33D4B598] ON [dbo].[CHUNG_TU_THU_CHI]([Phan_Loai]) WITH STATS_STREAM = 0x0100000001000000000000000000000096F23B70000000000302000000000000C301000000000000E7020000E7000000640000000000000020D0000000000000070000004F2D16011AA3000004000000000000000400000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C04000008040000000000000C04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000025000000000000005F0000000000000008000000000000003000100000008040000000000000803F04000001001D00540068007500FF010000000000000004000000010000002800000028000000000000000000000003000000540068007500020000004000000000040300000000
GO
/****** Object:  Statistic [_WA_Sys_0000000A_33D4B598]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_0000000A_33D4B598] ON [dbo].[CHUNG_TU_THU_CHI]([Ten_Loai]) WITH STATS_STREAM = 0x010000000100000000000000000000008A9B4EF600000000CA020000000000008A02000000000000E7020000E7000000F40100000000000020D0000000000000070000000D2618011AA3000005000000000000000500000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000009A9951420000A040000000009A995142000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000A200000000000000260100000000000010000000000000005500000000000000300010000000803F000000000000803F04000001004500540068007500200074006900C11E6E0020006B006800E100630068002000630068007500D91E630020001101D31E3000100000008040000000000000803F04000001004D00540068007500200074006900C11E6E0020006B006800E10063006800200074007200A31E200074006900C11E6E0020006C00DD1E6900FF010000000000000005000000020000002800000028000000000000000000000023000000540068007500200074006900C11E6E0020006B006800E100630068002000630068007500D91E630020001101D31E74007200A31E200074006900C11E6E0020006C00DD1E6900040000004000000000400F00000081080F0000040C17000000
GO
/****** Object:  Statistic [_WA_Sys_0000000B_33D4B598]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_0000000B_33D4B598] ON [dbo].[CHUNG_TU_THU_CHI]([Ghi_Chu]) WITH STATS_STREAM = 0x01000000010000000000000000000000EBEC0BEA00000000EE01000000000000AE01000000000000E7022BEDE7000000F40100000000000020D0000000000000070000001B2618011AA3000005000000000000000500000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000000000A04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000001B000000000000004A000000000000000800000000000000100010000000A040000000000000803F040000FF01000000000000000500000001000000280000002800000000000000000000000000000001000000050000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000C_33D4B598]    Script Date: 6/10/2017 5:40:38 AM ******/
CREATE STATISTICS [_WA_Sys_0000000C_33D4B598] ON [dbo].[CHUNG_TU_THU_CHI]([Sap_Xep]) WITH STATS_STREAM = 0x010000000100000000000000000000009AC8E14700000000BF010000000000007F010000000000007F02400F7F0000000800130000000000000000000100000007000000252618011AA3000005000000000000000500000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000018000000000000410000A040000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000023000000000000000800000000000000100018000000A040000000000000803F0000000000000000040000
GO
/****** Object:  Statistic [PK_CHUNG_TU_THU_CHI]    Script Date: 6/10/2017 5:40:38 AM ******/
UPDATE STATISTICS [dbo].[CHUNG_TU_THU_CHI]([PK_CHUNG_TU_THU_CHI]) WITH STATS_STREAM = 0x01000000010000000000000000000000CD347F9C0000000067020000000000002702000000000000E7030000E7000000F40100000000000020D0000000000000070000000C000C011AA30000040000000000000004000000000000000000803F0000803E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000100000000000C04000008040000000000000C0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000006F00000000000000C300000000000000180000000000000035000000000000005200000000000000300010000000803F000000000000803F04000001001D00500054003100300010000000803F0000803F0000803F04000001001D00500054003300300010000000803F000000000000803F04000001001D00500054003400FF0100000000000000040000000400000028000000280000000000000000000000060000005000540031003200330034000600000040000000004002000000810102000081010300008101040000010105000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_SO_CHUNG_TU]    Script Date: 6/10/2017 5:40:38 AM ******/
UPDATE STATISTICS [dbo].[SO_CHUNG_TU]([PK_SO_CHUNG_TU]) WITH STATS_STREAM = 0x01000000010000000000000000000000757DF1610000000040000000000000000000000000000000E7030000E7000000F40100000000000020D0000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_SO_CHUNG_TU_CHI_TIET]    Script Date: 6/10/2017 5:40:38 AM ******/
UPDATE STATISTICS [dbo].[SO_CHUNG_TU_CHI_TIET]([PK_SO_CHUNG_TU_CHI_TIET]) WITH STATS_STREAM = 0x010000000100000000000000000000007DE0E9F90000000040000000000000000000000000000000240300002400000010000000000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_SO_CHUNG_TU_THU_CHI]    Script Date: 6/10/2017 5:40:38 AM ******/
UPDATE STATISTICS [dbo].[SO_CHUNG_TU_THU_CHI]([PK_SO_CHUNG_TU_THU_CHI]) WITH STATS_STREAM = 0x01000000010000000000000000000000757DF1610000000040000000000000000000000000000000E7030000E7000000F40100000000000020D0000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
USE [master]
GO
