<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--<startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0"/>
    </startup>-->
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Phan_Mem_Quan_Ly_Cam_Do.Properties.Settings.Quan_Ly_Cam_DoConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QLCD_KIM_PHUNG;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Phan_Mem_Quan_Ly_Cam_Do.Properties.Settings.Quan_Ly_Cam_DoConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Quan_Ly_Cam_Do;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Phan_Mem_Quan_Ly_Cam_Do.Properties.Settings.QLCD_KIM_PHUNGConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QLCD_KIM_PHUNG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
